/* Styles go here */

#input_container {
  border: groove;
  height: 70px;
  margin-top: 5%;
  width:350px;
  margin-left:10%;
  background: rgba(0, 0, 0, .05);
}
.blue{
  color:skyblue;
}

#creditCardNo {
  background: white url("http://imgh.us/credit_3.png") left no-repeat;
  height: 30px;
  display:block;
  width: 90%;
  margin:0 auto;
  padding-left:60px;
}